* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: hsl(0, 0%, 95%);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
